<html>

<style>
    .first-color {
        color: rgb(0, 107, 247)
    }

    .second-color {
        color: rgb(29, 175, 114)
    }

    .third-color {
        color: #B54A4A
    }

</style>


<head>

    <title>SMA Patch Notes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/darkly/bootstrap.min.css"
          crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <h1 align="center">PATCH NOTES</h1>
    <br/>
    <div class="row">

        <div class="col-12" align="center">
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">28th June 2018 - Part 2</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Trading cards collection page now loads a lot faster (~9x)</li>
                    <li class="list-group-item">Removed Treechada Petcharat due to popular demand (and deleted all 13 rounds involving her from stats)</li>
                    <li class="list-group-item">In-play pack counter now updates when you receive a sweep pack</li>
                    <li class="list-group-item">
                        <a class="list-group-item flex-column align-items-start">
                            <h5 class="mb-1"><strong>Bug fixes:</strong></h5>
                            <p class="mb-1">✔️Celebrities who have apostrophes in their name should now have their picture appear properly</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">28th June 2018</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">You are now guaranteed at least one <span
                            style="color: #0761BA; font-weight: bold">Rare</span> or better in packs
                    </li>
                    <li class="list-group-item">On a clean sweep (with more than 3 players) a random player will be
                        granted a pack
                    </li>
                    <li class="list-group-item">
                        <a class="list-group-item flex-column align-items-start">
                            <h5 class="mb-1"><strong>Bug fixes:</strong></h5>
                            <p class="mb-1">✔️Spotify now resumes after a Jayden round for a person who hasn't set their
                                own sounds</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">26th June 2018</h3>
                <h3 class="mb-3"><strong>Introducing Trading Cards</strong></h3>
                <img class="mb-4" height="50%" src="../static/images/pn_26_june.PNG"/>
                <h4 class="mb-4" style="font-size: 20px">Open <a href="../packs">packs</a>, get cards and view your <a
                        href="../tradingcards">collection</a></h4>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Earn a pack for every <strong>10</strong> rounds you play</li>
                    <li class="list-group-item">Ratings range from <strong>20 - 100</strong></li>
                    <li class="list-group-item">Rarities are <span
                            style="color: rosybrown; font-weight: bold">Common</span>, <span
                            style="color: #0761BA; font-weight: bold">Rare</span>
                        , <span style="color: purple; font-weight: bold">Epic</span> and <span
                                style="color: gold; font-weight: bold">LEGENDARY</span></li>
                </ul>

            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">18th June 2018</h3>

                <a class="list-group-item flex-column align-items-start">
                    <img class="mb-4" height="75rem"
                         src="https://upload.wikimedia.org/wikipedia/commons/2/26/Spotify_logo_with_text.svg"/>
                    <h5 class="mb-1">Jayden round integration</h5>
                    <ul>
                        <p>If you link your <span style="color: #1DB954">Spotify</span> account, the game will
                            automatically pause/resume your music during Jayden rounds</p>
                    </ul>

                </a>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">17th June 2018 - Part 2</h3>

                <a class="list-group-item flex-column align-items-start">
                    <h5 class="mb-1"><strong>Introducing KeyMode™</strong></h5>
                    <p class="mb-0">Play the game <i>your way</i></p>
                    <video width="549" height="366" autoplay loop>
                        <source src="https://giant.gfycat.com/WetResponsibleInchworm.mp4" type="video/mp4">
                    </video>
                    <p class="mb-2" style="font-size: 20px"><strong style="color: limegreen">Enable</strong> or <strong
                            style="color: red">Disable</strong> the mode by pressing <strong>Space</strong></p>
                    <p class="mb-2" style="font-size: 20px">Press <strong class="first-color">S</strong> to First, <strong
                            class="second-color">M</strong> to Second and <strong class="third-color">A</strong> to Third
                    </p>
                    <p class="mb-2" style="font-size: 20px">Double tap <strong>Enter</strong> to submit (this works
                        whether KeyMode™ is enabled or not)</p>
                    <p class="mb-0" style="font-size: 20px">Use the <strong>⬅</strong> and <strong>➡</strong> arrow keys
                        to move between pictures and rectify your mistakes</p>
                </a>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">17th June 2018 - Part 1</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Reduced round time limit to 35 seconds</li>
                    <li class="list-group-item">Increased Jayden round chance to 1/15</li>
                    <li class="list-group-item">Settings page now validates YouTube video IDs for you 😘</li>
                    <li class="list-group-item">Increased Jayden round volume for custom sounds <img
                            src="https://static-cdn.jtvnw.net/emoticons/v1/65130/1.0"/></li>
                    <li class="list-group-item">Can now only enter whole numbers in the Settings page start time boxes
                        (for the dafties 🙂)
                    </li>
                    <li class="list-group-item">You shouldn't have to authorise as much as now 🙏</li>
                    <li class="list-group-item">Strengthened username validation checks</li>
                    <li class="list-group-item">
                        <a class="list-group-item flex-column align-items-start">
                            <h5 class="mb-1"><strong>Bug fixes:</strong></h5>
                            <p class="mb-1">✔️People who join late into a Jayden round won't miss the song</p>
                            <p class="mb-1">✔️Rounds now end when someone disconnects if the remaining users have all
                                submitted</p>
                            <p class="mb-1">✔️Names no longer lose their green "submitted" colour when a new player
                                joins whilst the choices are being shown</p>
                            <p class="mb-1">✔️Fixed a crash that would happen when someone didn't have any custom sounds
                                set and it was their Jayden round</p>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">11th June 2018</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>[BETA]</strong> You can now select your own Jayden Round sounds
                        <a href='../settings' target="_blank">here</a></li>
                    <li class="list-group-item">Added a personal settings page</li>
                    <li class="list-group-item">Watch <a href='https://streamable.com/vspxj' target="_blank">SMA's E3
                        2018 announcement</a></li>
                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">10th June 2018</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Jayden rounds are now specific to a player (displayed visually) and are
                        calculated using percentages as opposed to occurence counts
                    </li>
                    <li class="list-group-item">Increased Jayden round chance to 1/20</li>
                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">15th May 2018</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Added Easter egg</li>
                    <li class="list-group-item">Increased Jayden round chance to 1/50</li>
                </ul>
            </div>
            <div class="card mb-3" style="max-width: 75%">
                <h3 class="card-header">14th May 2018</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Added Jayden rounds</li>
                    <li class="list-group-item">Added WIP patch notes page</li>
                </ul>
            </div>
        </div>
    </div>
</head>